.header{
    position: relative;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./home-back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    text-align: center;
}
.container{
    /* max-width: 1200px; */
    width: 90%;
    margin: 50px auto;
    text-align: center;
    /* color: rgb(236, 229, 229);    */
}
h1{
    color: black;
}


.image-box{
    /* display: grid; */
    /* grid-column-gap: 24px; */
    /* align-items: start; */
    /* display: grid; */
    /* grid-template-columns: repeat(3,minmax(0,1fr)); */
    column-count: 4;
    margin: 20px 0;
    /* row-gap: 24px; */
}


img{
    width: 100%
}
.add-form{
    /* min-height: 5vh; */
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin:20px auto;
}
.center{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.center p{
    color: white;
}
input{
    width: 78%;
    padding:  .5rem;
    font-size: 1rem;
    background: rgba(255, 255, 255,);
    transition: color 0.5s;
    border-radius: 20px;
}

button{
    padding: 1rem 1.5rem;
    font-weight: bold;
    /* color: white; */
    cursor: pointer;
    /* border: 1px solid white; */
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    z-index: 5;
    display: inline-block;
    transition: color 0.5s;
    position: relative;
    border: none;
}

.image-container{
    height: fit-content;  
}

button span{
    width: 0;
    height: 100%;
    position:absolute;
    top: 0;
    left:0 ;
    background: black;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
    /* background: black;    */

}
button:hover{
    color:rgb(250, 245, 245);
}

